/** 更多菜单 */
.more-menu {
  border-radius: 8px;
  border: 1px solid var(--grey-3);
  padding: 4px;
  background-color: var(--grey-1);
  box-shadow: 0px 4px 6px -2px #0000000D, 0px 8px 15px -3px #00000014;

  > .q-list {
    .q-item {
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      padding: 10px 8px;
      border-radius: 8px;
      min-height: auto;

      > .q-item__section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 8px;

        > div:first-child {
          color: var(--grey-6);
          width: 20px;
          height: 20px;
        }
      }

      &:hover :deep(> .q-focus-helper) {
        &::after {
          opacity: 0.6;
        }
      }
    }
  }
}

/** 响应式内边距 */
.reactive-padding {
  padding: 16px;

  @media (min-width: 900px) {
    padding: 16px 24px;
  }

  @media (min-width: 1360px) {
    padding: 16px 32px;
  }

  @media (min-width: 1800px) {
    padding: 16px 40px;
  }
}
