/* styles.css */

/* Reset some default browser styles */
h1, h2, h3, h4, p, ul, li {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'PingFang';
}

body {
  transform-origin: top left;
  color: var(--grey-8);
}

/* Styling for heading tags */
h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

/* Links */
a {
  color: var(--primary-1);
  text-decoration: none;
}

/* nprogress */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13,148,136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
