.basic-echarts-tooltip {
  background-color: rgba(13, 7, 0, 0.3) !important;
  backdrop-filter: blur(12px) saturate(280%);
  border-radius: 2px !important;
  padding:8px;
  border: 1px solid;
  border-image: linear-gradient(134.58deg, var(--secondary-1) 0%, var(--secondary-1\/0) 25%, var(--secondary-1\/0) 75%, var(--secondary-1) 100%) 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.45), -2px -2px 5px rgba(0,0,0,.3), 0px 0px 30px rgba(0,0,0,0.5), 0px 0px 80px rgba(0,0,0,.4) !important;
  /* box-shadow: 0px 0px 8px 0px rgba(255, 239, 153, 0.5) inset,0px 0px 4px 0px rgba(255, 239, 153, 1) inset;
  background: radial-gradient(94.25% 75% at 50% 50%, #E67C00 0%, #EBBB0F 100%); */
}
