@font-face {
  font-family: "Fredericka the Great";
  src: url("../assets/fonts/FREDERICKATHEGREAT-REGULAR-2.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PingFang';
  src: url('../assets/fonts/PingFang_400.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PingFang';
  src: url('../assets/fonts/PingFang_500.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'PingFang';
  src: url('../assets/fonts/PingFang_600.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

.font-pingfang {
  font-family: 'PingFang';
}

@font-face {
  font-family: 'Marij';
  src: url('../assets/fonts/marijosefreepersonalusescript-6rj1y.otf') format('truetype');
  font-display: swap;
}

.font-marij {
  font-family: 'Marij';
}

@font-face {
  font-family: 'Subtitle';
  src: url('../assets/fonts/上首鸿志手写体.ttf') format('truetype');
  font-display: swap;
}

.font-subtitle {
  font-family: 'Subtitle';
}

@font-face {
  font-family: 'Title';
  src: url('../assets/fonts/浪漫奔星月.ttf') format('truetype');
  font-display: swap;
}

.font-title {
  font-family: 'Title';
}



