:root {
  --primary-1: #0E419C;
  --primary-1-bg: #0E419C1F;
  --primary-1-1: #0E419C1A;
  --primary-1-2: #0E419C33;
  --primary-1-3: #0E419C4d;
  --primary-1-4: #0E419C66;
  --primary-1-5: #0E419C80;
  --primary-1-6: #0E419C99;
  --primary-1-7: #0E419CB3;
  --primary-1-8: #0E419CCC;
  --primary-1-9: #0E419CE6;
  --primary-2: #004C9A;

  --secondary-1: #F99E34;

  --grey-1: #FFFFFF;
  --grey-2: #F5F7FA;
  --grey-3: #D4DDEA;
  --grey-4: #A6B1C2;
  --grey-5: #6E7686;
  --grey-6: #575E6A;
  --grey-7: #373C48;
  --grey-8: #292D36;

  --alerts-success: #22B07D;
  --alerts-success-bg: #22B07D14;
  --alerts-error: #F44336;
  --alerts-error-bg: #F4433614;
  --alerts-warning: #FFBA2F;
  --alerts-warning-bg: #FFBA2F14;

  --white-1: #FFFFFF1A;
  --white-2: #FFFFFF33;
  --white-3: #FFFFFF4d;
  --white-4: #FFFFFF66;
  --white-5: #FFFFFF80;
  --white-6: #FFFFFF99;
  --white-7: #FFFFFFB3;
  --white-8: #FFFFFFCC;
  --white-9: #FFFFFFE6;

  --xs: 500px;
  --sm: 760px;
  --lg: 900px;
  --xl: 1360px;
}
