:root {
  --primary-1: #0068B8;
  --primary-2: #257EDA;
  --primary-3: #004C9A;
  --primary-4: #E3EFFD;

  --grey-1: #FFFFFF;
  --grey-2: #F7F9FC;
  --grey-3: #E4E7EC;
  --grey-4: #D0D5DD;
  --grey-5: #98A2B3;
  --grey-6: #667185;
  --grey-7: #475367;
  --grey-8: #344054;
  --grey-9: #12161E;

  --grey-1-a0: rgba(255, 255, 255, 0);
  --grey-1-a2: rgba(255, 255, 255, 0.2);
  --grey-1-a3: rgba(255, 255, 255, 0.3);

  --grey-2-a0: rgba(247, 249, 252, 0);
  --grey-2-a2: rgba(247, 249, 252, 0.2);
  --grey-2-a3: rgba(247, 249, 252, 0.3);
  --grey-2-a5: rgba(247, 249, 252, 0.5);

  --grey-3-a2: rgba(228, 231, 236, 0.2);
  --grey-3-a3: rgba(228, 231, 236, 0.3);
  --grey-3-a5: rgba(228, 231, 236, 0.5);

  --alerts-success: #22B07D;
  --alerts-success-bg: #22B07D14;
  --alerts-error: #F44336;
  --alerts-error-bg: #F4433614;
  --alerts-warning: #FFBA2F;
  --alerts-warning-bg: #FFBA2F14;

  --white-1: #FFFFFF1A;
  --white-2: #FFFFFF33;
  --white-3: #FFFFFF4d;
  --white-4: #FFFFFF66;
  --white-5: #FFFFFF80;
  --white-6: #FFFFFF99;
  --white-7: #FFFFFFB3;
  --white-8: #FFFFFFCC;
  --white-9: #FFFFFFE6;

  --xs: 500px;
  --sm: 760px;
  --lg: 900px;
  --xl: 1360px;
}

/* 黑夜颜色 */
[theme="dark"]:root {
  --comment-color: var(--grey-1);
  --grey-1: #12161E;
  --grey-2: #344054;
  --grey-3: #475367;
  --grey-4: #667185;
  --grey-5: #A6B1C2;
  --grey-6: #D0D5DD;
  --grey-7: #E4E7EC;
  --grey-8: #F7F9FC;
  --grey-9: #FFFFFF;

  --grey-1-a0: rgba(18, 22, 30, 0);
  --grey-1-a2: rgba(18, 22, 30, 0.2);
  --grey-1-a3: rgba(18, 22, 30, 0.3);
  --grey-1-a5: rgba(18, 22, 30, 0.5);
  --grey-1-a7: rgba(18, 22, 30, 0.7);

  --grey-2-a0: rgba(52, 64, 84, 0);
  --grey-2-a2: rgba(52, 64, 84, 0.2);
  --grey-2-a3: rgba(52, 64, 84, 0.3);
  --grey-2-a5: rgba(52, 64, 84, 0.5);

  --grey-3-a2: rgba(71, 83, 103, 0.2);
  --grey-3-a3: rgba(71, 83, 103, 0.3);
  --grey-3-a8: rgba(71, 83, 103, 0.8);

  --grey-9-a1: rgba(51, 51, 51, 0.1);

  img {
      filter: brightness(0.8);
  }
}


