:root {
  --primary-1: #1976D2;
  --primary-1-bg: #1976D21F;
  --primary-1-1: #1976D21A;
  --primary-1-2: #1976D233;
  --primary-1-3: #1976D24d;
  --primary-1-4: #1976D266;
  --primary-1-5: #1976D280;
  --primary-1-6: #1976D299;
  --primary-1-7: #1976D2B3;
  --primary-1-8: #1976D2CC;
  --primary-1-9: #1976D2E6;
  --primary-2: #004C9A;

  --secondary-1: #F99E34;

  --grey-1: #FFFFFF;
  --grey-2: #F7F9FC;
  --grey-3: #E4E7EC;
  --grey-4: #D0D5DD;
  --grey-5: #98A2B3;
  --grey-6: #667185;
  --grey-7: #475367;
  --grey-8: #344054;
  --grey-9: #12161E;

  --alerts-success: #22B07D;
  --alerts-success-bg: #22B07D14;
  --alerts-error: #F44336;
  --alerts-error-bg: #F4433614;
  --alerts-warning: #FFBA2F;
  --alerts-warning-bg: #FFBA2F14;

  --white-1: #FFFFFF1A;
  --white-2: #FFFFFF33;
  --white-3: #FFFFFF4d;
  --white-4: #FFFFFF66;
  --white-5: #FFFFFF80;
  --white-6: #FFFFFF99;
  --white-7: #FFFFFFB3;
  --white-8: #FFFFFFCC;
  --white-9: #FFFFFFE6;

  --xs: 500px;
  --sm: 760px;
  --lg: 900px;
  --xl: 1360px;
}

/* 黑夜颜色 */
[theme="dark"]:root {
  --comment-color: var(--grey-1);
  --grey-1: #12161E;
  --grey-2: #344054;
  --grey-3: #475367;
  --grey-4: #667185;
  --grey-5: #A6B1C2;
  --grey-6: #D0D5DD;
  --grey-7: #E4E7EC;
  --grey-8: #F7F9FC;
  --grey-9: #FFFFFF;

  --grey-1-a7: rgba(34, 34, 34, 0.7);
  --grey-1-a5: rgba(34, 34, 34, 0.5);
  --grey-1-a3: rgba(34, 34, 34, 0.3);
  --grey-1-a0: rgba(34, 34, 34, 0);
  --grey-9-a1: rgba(51, 51, 51, 0.1);
  --grey-2-a0: rgba(54, 54, 54, 0);

  img {
      filter: brightness(0.8);
  }
}


