:root {
  --primary-1: #1976D2;
  --primary-1-bg: #1976D21F;
  --primary-1-1: #1976D21A;
  --primary-1-2: #1976D233;
  --primary-1-3: #1976D24d;
  --primary-1-4: #1976D266;
  --primary-1-5: #1976D280;
  --primary-1-6: #1976D299;
  --primary-1-7: #1976D2B3;
  --primary-1-8: #1976D2CC;
  --primary-1-9: #1976D2E6;
  --primary-2: #004C9A;

  --secondary-1: #F99E34;

  --grey-1: #FFFFFF;
  --grey-2: #F5F7FA;
  --grey-3: #A6B1C2;
  --grey-4: #A6B1C2;
  --grey-5: #6E7686;
  --grey-6: #575E6A;
  --grey-7: #373C48;
  --grey-8: #292D36;

  --alerts-success: #22B07D;
  --alerts-success-bg: #22B07D14;
  --alerts-error: #F44336;
  --alerts-error-bg: #F4433614;
  --alerts-warning: #FFBA2F;
  --alerts-warning-bg: #FFBA2F14;

  --white-1: #FFFFFF1A;
  --white-2: #FFFFFF33;
  --white-3: #FFFFFF4d;
  --white-4: #FFFFFF66;
  --white-5: #FFFFFF80;
  --white-6: #FFFFFF99;
  --white-7: #FFFFFFB3;
  --white-8: #FFFFFFCC;
  --white-9: #FFFFFFE6;

  --xs: 500px;
  --sm: 760px;
  --lg: 900px;
  --xl: 1360px;
}

/* 黑夜颜色 */
[theme="dark"]:root {
  --comment-color: var(--grey-1);
  --grey-1: #292D36;
  --grey-2: #373C48;;
  --grey-3: #575E6A;
  --grey-4: #6E7686;
  --grey-5: #A6B1C2;
  --grey-6: #A6B1C2;
  --grey-7: #F5F7FA;
  --grey-8: #FFFFFF;

  --grey-1-a7: rgba(34, 34, 34, 0.7);
  --grey-1-a5: rgba(34, 34, 34, 0.5);
  --grey-1-a3: rgba(34, 34, 34, 0.3);
  --grey-1-a0: rgba(34, 34, 34, 0);
  --grey-9-a1: rgba(51, 51, 51, 0.1);
  --grey-2-a0: rgba(54, 54, 54, 0);
  --color-pink-light: #322d31;
  --color-cyan-light: #2d3230;
  --color-red: rgba(237, 118, 137, 0.9);
  --color-pink: rgba(241, 139, 179, 0.8);
  --color-orange: rgba(240, 163, 135, 0.8);
  --color-yellow: #ffe175;
  --color-green: #86c59d;
  --color-aqua: #97d3d6;
  --color-blue: #9cd0ed;
  --color-purple: #cfacc5;
  --color-grey: #c3c8ca;
  --body-bg-shadow: #000;
  --box-bg-shadow: #000;
  --text-color: var(--grey-5);
  --header-text-color: var(--grey-9);
  --note-bg: rgba(48, 49, 50, 0.8);
  --note-text: rgba(109, 164, 219, 0.8);
  --note-hover: rgba(168, 49, 72, 0.8);
  --chat-bg: var(--grey-1);

  img {
      filter: brightness(0.8);
  }
}
